@charset "UTF-8";

/* 回答はここに書いてね */
.box_left {
  text-align: center;
}

.element_left {
  display: inline-block;
  text-align: left;
  padding: 10px;
  background-color: #e6f2ff;
}

.element_right {
  margin: 0 auto;
  padding: 10px;
  width: 100px;
  text-align: center;
  background-color: #e6f2ff;
}

.q6_2_main_above {
  display: table;
}

.q6_2_content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
 }

 .q6_2_element_above {
  display: inline-block;
  text-align: center;
  padding: 10px;
  background-color: #fff;
 }

.q6_2_main_under {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6_2_element_under {
  padding: 10px;
  background-color: #fff;
}

.q6_3_content {
  position: relative;
}

.q6_3_element_left {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.q6_3_element_right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* 回答はここに書いてね */
