@charset "UTF-8";

/* 回答はここに書いてね */

.main {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #ECF1F2;
}

.element_box {
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
}

.element_box:not(:last-child) {
  position: absolute;
}

.box_offwhite {
  top: 40px;
  left: 200px;
  z-index: 10;
  background-color: #ffefd3;
}

.box_blue {
  top: 120px;
  left: 280px;
  z-index: 20;
  background-color: #7084de;
}

.box_emerald {
  top: 200px;
  left: 360px;
  z-index: 30;
  background-color: #d0ecea;
}

.box_brown {
  top: 280px;
  left: 280px;
  z-index: 40;
  background-color: #8b7a5e;
}

.box_green {
  top: 360px;
  left: 200px;
  z-index: 50;
  background-color: #9fd6d2;
}

.box_white {
  top: 280px;
  left: 120px;
  z-index: 60;
  background-color: #fffee4;
}

.box_gold {
  top: 200px;
  left: 40px;
  z-index: 70;
  background-color: #deae70;
}

.box_pink {
  top: 120px;
  left: 120px;
  z-index: 80;
  background-color: #de70cf;
}

.box_pink::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 90;
  border-collapse: collapse;
  background-color: #ffefd3;
}

.box_deepblue {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2b69a3;
}
/* 回答はここに書いてね */
