@charset "UTF-8";

/* 回答はここに書いてね */

.q3_content {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.q3_content th,  td {
  border: solid #dedede 1px;
  border-collapse: collapse;
}

.q3_content th {
  background-color: #2244aa;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}

.q3_content td{
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
  text-align: center; 
}

.q3_content tr:nth-child(odd) {
  background-color: #ecf1ecf2;
}

.q3_content tr:last-child { 
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
